/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
    /*border: 0.1px dashed #000;*/
    /*border-radius: 20px;*/
    /*width: 50%;*/
    /*height: 2em;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: 10px;
    top: 8px;
    width: 95%;
    overflow: hidden;
}

ul.newsticker { /* that's your list */
    position: relative;
    left: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    counter-reset: scrollticker-counter;
}

ul.newsticker li {
    float: left; /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 0;
    background: #fff;
}

/*ul.newsticker li::before {*/
/*content: counter(scrollticker-counter, lower-roman);*/
/*counter-increment: scrollticker-counter;*/
/*}*/

.counter_upper-roman::before {
    content: counter(scrollticker-counter, upper-roman);
    counter-increment: scrollticker-counter;
}

.counter_lower-roman::before {
    content: counter(scrollticker-counter, lower-roman);
    counter-increment: scrollticker-counter;
}

.counter_upper-latin::before {
    content: counter(scrollticker-counter, upper-latin);
    counter-increment: scrollticker-counter;
}

.counter_lower-latin::before {
    content: counter(scrollticker-counter, lower-latin);
    counter-increment: scrollticker-counter;
}

.counter_decimal::before {
    content: counter(scrollticker-counter, decimal);
    counter-increment: scrollticker-counter;
}

.counter_decimal-leading-zero::before {
    content: counter(scrollticker-counter, decimal-leading-zero);
    counter-increment: scrollticker-counter;
}

ul.newsticker div {
    display: inline;
}
