/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
    border: 0.1px dashed #000;
    border-radius: 20px;
    width: 95%;
    height: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: 10px;
    top: 8px;
    width: 95%;
    overflow: hidden;
}

ul.newsticker { /* that's your list */
    position: relative;
    left: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
	counter-reset: scrollticker-counter;
}

ul.newsticker li {
    float: left; /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 0;
    background: #fff;
}

ul.newsticker li::before {
	content: counter(scrollticker-counter, lower-roman);
	counter-increment: scrollticker-counter;
}

ul.newsticker li::after {
    content: "\00a0\00a0\00a0 + + + \00a0\00a0\00a0"; /* insert text + + + after each item, add whitspace */
}

ul.newsticker div {
	display: inline;
}
